<%
  if defined?(@query)

    link = Proc.new {|pagy, link_extra|
            link_to(
                    pagy,
                    bookmarks_search_path(page: pagy,
                        limit: @limit,
                        query: @query,
                        tags: defined?(@tags) ? @tags.join(",") : ""
                    ),
                    method: :get,
                    class: 'page-link',
                    aria_label: I18n.t("pagination.aria_next")
            )
    }
    previous_link = link_to(
           t('pagination.previous'),
           bookmarks_search_path(page: pagy.prev,
             limit: @limit,
             query: @query,
             tags: defined?(@tags) ? @tags.join(",") : ""
           ),
           method: :get,
           class: 'page-link',
           aria_label: I18n.t("pagination.aria_previous"),
        )
    next_link = link_to(
           t('pagination.next'),
           bookmarks_search_path(page: pagy.next,
             limit: @limit,
             query: @query,
             tags: defined?(@tags) ? @tags.join(",") : ""
           ),
           method: :get,
           class: 'page-link',
           aria_label: I18n.t("pagination.aria_next")
        )
  elsif action_name == 'unarchived'

    link = Proc.new {|pagy, link_extra|
            link_to(
                    pagy,
                    bookmarks_unarchived_path(page: pagy,
                        limit: @limit
                    ),
                    method: :get,
                    class: 'page-link',
                    aria_label: I18n.t("pagination.aria_next")
            )
    }
    previous_link = link_to(
           t('pagination.previous'),
           bookmarks_unarchived_path(page: pagy.prev,
             limit: @limit
           ),
           method: :get,
           class: 'page-link',
           aria_label: I18n.t("pagination.aria_previous"),
        )
    next_link = link_to(
           t('pagination.next'),
           bookmarks_unarchived_path(page: pagy.next,
             limit: @limit
           ),
           method: :get,
           class: 'page-link',
           aria_label: I18n.t("pagination.aria_next")
        )
  else

    link = Proc.new {|pagy, link_extra|
            link_to(
                    pagy,
                    bookmarks_path(page: pagy,
                        limit: @limit,
                        tags: defined?(@tags) ? @tags.join(",") : ""
                    ),
                    method: :get,
                    class: 'page-link',
                    aria_label: I18n.t("pagination.aria_next")
            )
    }
    previous_link = link_to(
           t('pagination.previous'),
           bookmarks_path(page: pagy.prev,
             limit: @limit,
             tags: defined?(@tags) ? @tags.join(",") : ""
           ),
           method: :get,
           class: 'page-link',
           aria_label: I18n.t("pagination.aria_previous"),
        )
    next_link = link_to(
           t('pagination.next'),
           bookmarks_path(page: pagy.next,
             limit: @limit,
             tags: defined?(@tags) ? @tags.join(",") : ""
           ),
           method: :get,
           class: 'page-link',
           aria_label: I18n.t("pagination.aria_next")
        )

   end

  %>
<nav class="pagy-bootstrap-nav" role="navigation">
<ul class="pagination">

<% if pagy.prev                -%>
      <%== previous_link        %>


<% else                        -%>
    <li class="page-item prev disabled"><a  class="page-link"><%== t('pagination.previous') %></a></li>
<% end                         -%>

<% pagy.series.each do |item| # series example: [1, :gap, 7, 8, "9", 10, 11, :gap, 36] -%>
<%   if    item.is_a?(Integer) -%>    <li class="page-item"><%== link.call(item) %></li>
<%   elsif item.is_a?(String)  -%>    <li class="page-item active"><%== link.call(item) %></li>
<%   elsif item == :gap        -%>    <li class="page-item disabled gap"><a class="page-link"><%== t('pagination.page_gap') %></a></li>
<%   end                       -%>
<% end                         -%>


<%# "next >" link at end %>
<% if pagy.next                -%>
    <li class="page-item next">
      <%== next_link %>
    </li>
<% else                        -%>
    <li class="page-item next disabled">
      <a class="page-link"><%== t('pagination.next') %></a>
    </li>
<% end                         -%>
</ul>
</nav>
