<%
  if defined?(@query)
    links_hash=get_pagination_links_for_query(
            pagy: pagy,
            query: @query,
            limit: @limit,
            tags: @tags
    )

  elsif action_name == 'unarchived'
    links_hash=get_pagination_links_for_unarchived(
            pagy: pagy,
            limit: @limit,
            tags: @tags
    )

  elsif action_name == 'to_read'
    links_hash=get_pagination_links_for_unread(
            pagy: pagy,
            limit: @limit,
            tags: @tags
    )
  else
    links_hash=get_pagination_links_for_default(
            pagy: pagy,
            limit: @limit,
            tags: @tags
    )


   end

  %>
<nav class="pagy-bootstrap-nav" role="navigation">
<ul class="pagination">

<% if pagy.prev                -%>
      <%== links_hash[:previous_link]        %>


<% else                        -%>
    <li class="page-item prev disabled"><a  class="page-link"><%== t('pagination.previous') %></a></li>
<% end                         -%>

<% pagy.series.each do |item| # series example: [1, :gap, 7, 8, "9", 10, 11, :gap, 36] -%>
<%   if    item.is_a?(Integer) -%>    <li class="page-item"><%== links_hash[:link_proc].call(item) %></li>
<%   elsif item.is_a?(String)  -%>    <li class="page-item active"><%== links_hash[:link_proc].call(item) %></li>
<%   elsif item == :gap        -%>    <li class="page-item disabled gap"><a class="page-link"><%== t('pagination.page_gap') %></a></li>
<%   end                       -%>
<% end                         -%>


<%# "next >" link at end %>
<% if pagy.next                -%>
    <li class="page-item next">
      <%== links_hash[:next_link] %>
    </li>
<% else                        -%>
    <li class="page-item next disabled">
      <a class="page-link"><%== t('pagination.next') %></a>
    </li>
<% end                         -%>
</ul>
</nav>
