<% privacy_class = (bookmark.private? ? 'private-bookmark' : '')
   to_read_class = (bookmark.to_read? ? 'to-read-list-item' : '')
   %>
<div id="<%= dom_id bookmark %>" class="container bookmark-list-item <%= privacy_class %> <%= to_read_class %>">
  <div class="row">
    <div class="col-8">
      <% if defined?(inline_flash) %>
        <%= render partial: 'shared/inline_flash',
            locals: {inline_flash: inline_flash} %>
      <% end %>

      <%# favicon %>
      <div class="row">
        <div class="col">
          <% if bookmark.domain.present? %>
            <img class="favicon"
                 src="<%= request.protocol %>www.google.com/s2/favicons?sz=64&domain=<%= bookmark.domain %>" />
          <% else %>
            <%= inline_icon("missing_image", icon_class: "favicon") %>
          <% end %>
          <%= link_to(bookmark.title, bookmark.url) %>
        </div>
      </div>

      <%# description %>
      <div class="row">
        <div class="col">
          <% if bookmark.description.present? %>
            <%== ::Rendering::Markdown.instance.render(bookmark.description) %>
          <% else %>
            &nbsp;
          <% end %>
        </div>
      </div>

      <%# tags %>
      <div class="row">
        <div class="col">
          <%= render partial: 'shared/inline_tag_list',
              locals: {tags: bookmark.tags} %>
        </div>
      </div>

    </div> <%# end col-8 main bookmark section %>

    <!--- action icons -->
    <div class="col">
      <div class="action-icons">
        <!-- archive action -->
        <% if bookmark.has_archive? %>
          <div class="action-icon">
            <%= icon_link("archive", bookmark_path(bookmark),
                  link_css: "inline-link-icon archive-link-icon",
                  alt: t('bookmarks.view_archive_alt_text'),
                  title: t('bookmarks.view_archive_title',
                          archive_date: I18n.l(bookmark.latest_archive.created_at.to_date,
                                              format: :default)
                  ),
                  text:  t('bookmarks.view_archive_link_text')
                )
                %>
          </div>
        <% elsif is_fresh?(bookmark) %>
            <%= icon_link("archiving", '#',
                  link_css: "inline-link-icon archive-link-icon",
                  alt: t('bookmarks.archiving_now_alt'),
                  title: t('bookmarks.archiving_now_title'),
                  text:  t('bookmarks.archiving_now_text')
                )
                %>
        <% elsif user_signed_in? %>
          <div class="action-icon delete-action-icon">
            <%== link_to  image_tag(
                '/images/icons/download.svg',
                 class: 'inline-link-icon download-icon'
                 ) +
                 t('bookmarks.archive_now_link_text'),
                  archive_bookmark_path(bookmark, method: :put),
                  class: "inline-link-icon archive-link-icon",
                  method: :put,
                  data:   {
                  turbo_method: :put
                  }

                %>

          </div>
        <% end %>

        <% if user_signed_in? %>
        <!-- restricted actions -->
          <!-- edit -->
          <div class="action-icon">
            <%= icon_link("edit", edit_bookmark_path(bookmark),
                link_css: "inline-link-icon edit-link-icon",
                method: :put,
                alt: t('bookmarks.edit'),
                text: t('bookmarks.edit')) %>
          </div>
          <!-- read status toggle -->
          <% if bookmark.to_read? %>
            <div class="action-icon">
              <%== link_to  image_tag(
                              '/images/icons/to_read.svg',
                              class: 'inline-link-icon to-read-icon'
                            ) + t('bookmarks.mark_as_read_link'),
                            mark_as_read_bookmark_path(bookmark, method: :put),
                            class: "inline-link-icon to-read-link-icon",
                    method: :put,
                    data:   {
                      turbo_method: :put,
                    }
                %>

            </div>
          <% else %>
            <div class="action-icon">
              <%== link_to  image_tag(
                            '/images/icons/to_read.svg',
                            class: 'inline-link-icon to-read-link-icon'
                          ) + t('bookmarks.mark_to_read'),
                          mark_to_read_bookmark_path(bookmark, method: :put),
                          class: "inline-link-icon to-read-link-icon",
                  method: :put,
                  data:   {
                    turbo_method: :put,
                  }

                %>
            </div>
          <% end %>

          <!-- privacy reminder -->
          <% if bookmark.private? %>
            <div class="action-icon">
              <%= inline_icon("private", icon_class: "inline-body-icon") %>
              <span class="private-hint"><%=t('bookmarks.private_hint') %></span>
            </div>
          <% end %>

          <!-- delete action -->
          <div class="action-icon delete-action-icon">
            <%== link_to  image_tag(
                '/images/icons/delete.svg',
                class: 'inline-link-icon delete-icon') + t('bookmarks.delete_link'),
                  bookmark_path(bookmark, method: :delete),
                  class: "inline-link-icon delete-link-icon",
                  method: :delete,
                  data:   {
                  confirm: t('misc.are_your_sure'),
                  turbo_method: :delete,
                  turbo_confirm: t('misc.are_you_sure')
                  }

                %>

          </div>
      <% end %> <!-- end requires login -->
      </div> <!-- end action-icons -->
    </div>
  </div>
</div>
