<div id="<%= dom_id bookmark %>" class="container bookmark-list-item">
  <div class="row">
    <div class="col-8">
      <div class="row">
        <div class="col">
          <%= icon_link("link", bookmark.url, link_css: "inline-link-icon") %>
          <%= link_to(bookmark.title, bookmark.url) %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <% if bookmark.description.present? %>
            <%= Orgmode::Parser.new(bookmark.description).to_html.html_safe %>
          <% else %>
            &nbsp;
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!-- TODO: link this to a search for things with this tag -->
          <% if bookmark.tags.present? %>
            <% bookmark.tags.each do | tag | %>
              <%= icon_link(
                  "tag",
                  bookmarks_tagged_with_path(tags: tag),
                  link_css: "inline-link-icon",
                  alt: t('icons.tag_alt')
                ) %>
              <%= link_to(tag, bookmarks_tagged_with_path(tags: tag)) %>
            <% end %>
          <% else %>
            <%= t('bookmarks.no_tags_message') %>
          <% end %>
        </div>
      </div>
    </div>

    <!--- action icons -->
    <div class="col">
      <div class="action-icon">
      <% if bookmark.has_archive? %>
        <%= icon_link("archive", bookmark_path(bookmark),
            link_css: "inline-link-icon archive-link-icon",
            alt: t('bookmarks.view_archive_alt_text'),
            title: t('bookmarks.view_archive_title',
                    archive_date: I18n.l(bookmark.latest_archive.created_at.to_date,
                                        format: :default)
            ),
            text:  t('bookmarks.view_archive_link_text')

        )%>
      <% else %>
        <%= icon_link("download", bookmark_path(bookmark),
            link_css: "inline-link-icon download-link-icon",
            method: :put,
            alt: t('bookmarks.archive_now')) %>
      <% end %>
      </div>
      <div class="action-icon">
      <%= icon_link("edit", edit_bookmark_path(bookmark),
          link_css: "inline-link-icon edit-link-icon",
          method: :put,
          alt: t('bookmarks.edit'),
          text: t('bookmarks.edit')) %>
      </div>
      <div class="action-icon">
      <%= confirmation_icon_link("delete", bookmark_path(bookmark),
          link_css: "inline-link-icon delete-link-icon",
          method: :put,
          alt: t('bookmarks.delete'),
          text: t('bookmarks.delete')) %>
      </div>

    </div>
  </div>
</div>
