<div class="container">
  <% if bookmark.errors.any? %>
  <div class="row">
    <div class="col alert-danger">
      <h2><%= pluralize(bookmark.errors.count, "error") %></h2>

      <ul>
        <% bookmark.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>
  <%= form_with(model: bookmark) do |form| %>

    <div class="row">
      <div class="col-2">
        <%= form.label :title, style: "display: block" %>
      </div>
      <div class="col-6">
        <%= form.text_field :title %>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <%= form.label :url, style: "display: block" %>
      </div>
      <div class="col-6">
        <%= form.text_field :url %>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <%= form.label :description, style: "display: block" %>
      </div>
      <div class="col-6">
        <%= form.text_field :description %>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <%= form.label :tags, style: "display: block" %>
      </div>
      <div class="col-6">
        <%= form.text_field :tags %>
      </div>
    </div>
    <div class="row">
      <div class="col ">
        <%= form.submit class: "btn btn-primary" %>
      </div>
    </div>

  <% end %>

</div>
