<div class="container">
  <%= render partial: 'shared/errors_row', locals: {thing: bookmark} %>
  <%= form_with(model: bookmark) do |form| %>

    <div class="row">
      <div class="col-2">
        <%= form.label :title, style: "display: block" %>
      </div>
      <div class="col-6">
        <%= form.text_field :title, class: 'bookmark-input-field'  %>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <%= form.label :url, style: "display: block" %>
      </div>
      <div class="col-6">
        <%= form.text_field :url, class: 'bookmark-input-field'  %>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <%= form.label :description, style: "display: block" %>
      </div>
      <div class="col-6">
        <%= form.text_area :description, class: 'bookmark-textarea-field' %>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <%= form.label :tags, style: "display: block" %>
      </div>
      <div class="col-6">
        <%= form.text_field :tags, class: 'bookmark-input-field' %>
      </div>
    </div>
    <div class="row">
      <div class="col ">
        <%= form.submit class: "btn btn-primary" %>
      </div>
    </div>

  <% end %>

</div>
