<div class="container">
  <div class="row">
    <div class="col-9">
      <h2><%= link_to(t("bookmarks.heading"), bookmarks_path) %></h2>
      <span class="bookmark-count">
      <%= t('bookmarks.counter',
            formatted_count: number_with_delimiter(
                              @bookmarks.count,
                              delimiter: t('number.format.delimiter')
            )
          ) %>
      </span>
    </div>
    <div class="col">
      <%= link_to t('bookmarks.add'), new_bookmark_path,
          type: "button",
          class: "btn btn-primary" %>
    </div>
  </div>
</div>



<div class="container" id="bookmarks">
  <% if ! @pagy.nil? && @pagy.count > (@pagy.items * @pagy.page) %>
    <div class="row">
      <div class="col">
        <%= render partial: 'pagy/bookmark_db_results', locals: {pagy: @pagy} %>
      </div>
    </div>
  <% end %>
  <% @bookmarks.each do |bookmark| %>
    <div class="row">
      <div class="col">
        <%= render bookmark %>
      </div>
    </div>
  <% end %>
  <% if ! @pagy.nil? && @pagy.count > (@pagy.items * @pagy.page) %>
    <div class="row">
      <div class="col">
        <%= render partial: 'pagy/bookmark_db_results', locals: {pagy: @pagy} %>
      </div>
    </div>
  <% end %>
</div>
