<% unless notice.blank? %>
  <div class="container">
    <div class="row">
      <div class="col alert-danger">
        <%= notice %>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col">
      <h2><%= link_to(t("bookmarks.heading"), bookmarks_path) %></h2>
      <span class="bookmark-count">
      <%= @bookmarks.count %>
      </span>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <%= link_to "New bookmark", new_bookmark_path %>
    </div>
  </div>
</div>


<div class="container" id="bookmarks">
  <%== pagy_nav(@pagy) if ! @pagy.nil? && @pagy.count > (@pagy.items * @pagy.page) %>
  <% @bookmarks.each do |bookmark| %>
    <div class="row">
      <div class="col">
        <%= render bookmark %>
      </div>
    </div>
  <% end %>
  <%== pagy_nav(@pagy) if ! @pagy.nil? && @pagy.count > (@pagy.items * @pagy.page) %>
</div>


