<div class="container">
  <div class="row">
    <div class="col-9">
      <%= render partial: 'list_heading' %>
    </div>
  </div>
</div>

<% if @total_bookmarks == 0 %>
  <%# instead of a list show a special message for the new user without bookmarks %>
  <div class="container" id="bookmarks">
    <div class="row">
      <div class="col">
        <%==t('bookmarks.none_message') %>
      </div>
    </div>
  </div>
<% else %>
  <div class="container" id="bookmarks">
    <% if ! @pagy.nil? && @pagy.count > (@pagy.items * @pagy.page) %>
      <div class="row">
        <div class="col">
          <%= render partial: 'pagy/bookmark_db_results', locals: {pagy: @pagy} %>
        </div>
      </div>
    <% end %>
    <% @bookmarks.each do |bookmark| %>
      <div class="row">
        <div class="col">
          <%= render bookmark %>
        </div>
      </div>
    <% end %>
    <% if ! @pagy.nil? && @pagy.count > (@pagy.items * @pagy.page) %>
      <div class="row">
        <div class="col">
          <%= render partial: 'pagy/bookmark_db_results', locals: {pagy: @pagy} %>
        </div>
      </div>
    <% end %>
  </div>

<% end %>
