<div class="container">
  <% if @archive.present?  %>
    <div class="row">
      <div class="col">
        <heading><%=link_to(@bookmark.title, @bookmark.url) %></heading>
        <div>
          <%= render partial: 'shared/inline_tag_list',
              locals: {tags: @bookmark.tags} %>

        </div>
        <div class="archive-date">
          <%=t('bookmarks.archived_date_message',
              archive_date: archive_date_string(@archive)
          ) %>

        </div>


        <%#TODO deal with rendering archives that might not be markdown %>
        <%= render partial: 'bookmark_md_archive',
            locals: {archive: @archive} %>
      </div>
    </div>
  <% else %>
    <div class="row alert alert-warning">
      <div class="col">
        <%= t('errors.bookmarks.no_archive_found') %>
      </div>
    </div>
  <% end %>
</div>

<% content_for :sidebar do %>
  <%= render partial: 'shared/sidebar_page_actions_top' %>
  <div id="page-actions">
    <div class="container">
      <div class="row">
        <div class="col">
          <ul>
          <li><%= link_to t('bookmarks.edit_this_link'), edit_bookmark_path(@bookmark),
              class: 'btn btn-primary compact-button' %></li>

          <li><%= link_to t('bookmarks.rearchive_this_link'), archive_bookmark_path(@bookmark),
              class: 'btn btn-primary compact-button' %></li>
          </ul>
        </div>
      </row>
      <div class="row">
        <div class="col">
          <div class="safe-space">
            <%= button_to "Destroy this bookmark", @bookmark,
                method: :delete ,
                class: 'btn btn-danger compact-button'%>
          </div>
        </div>
      </div>
      <!-- archives list -->
      <div class="row">
        <div class="col">
          <em><%= t("bookmarks.archives_list_heading") %></em>
          <ul id="bookmark-archives-listing">
            <% @bookmark.sorted_archives.each do | an_archive |
              current = (an_archive.id == @archive&.id)
              %>
              <li class="<%= current ? 'current-archive-item' : '' %>">
                <%= show_archive_link(an_archive) %>
                <%= icon_link("download",
                      download_bookmark_path(@bookmark, archive_id: @archive._id),
                    link_css: "inline-link-icon download-link-icon",
                    method: :put,
                    alt: t('bookmarks.download_archive_link')) %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
</div>
