<div class="container">
  <div class="row">
    <div class="col sidebar-tags">
      <% if defined?(@tags) or action_name== 'search' %>
        <div id="tags-list-heading"><%= t('tags.overlapping_tags') %></div>
      <% end %>
      <% @tags_list.each do |tag| %>
        <span class="sidebar-tag">
          <% if defined?(@tags)  %>
            <% if ! @tags.include?(tag) %>
              <% tags_query_param=(@tags + [tag]).join(',') %>
              <% if action_name == 'search' %>
                <%= icon_link("add", bookmarks_search_path(query: params[:query], tags: tags_query_param),
                      link_css: "inline-icon-link",
                      icon_css: "add-tag-icon",
                      alt: t('tags.add_tag_to_query'),
                      title: t('tags.add_tag_to_query')
                    )
                    %>
              <% else %>
                <%= icon_link("add", bookmarks_tagged_with_path(tags: tags_query_param),
                      link_css: "inline-icon-link",
                      icon_css: "add-tag-icon",
                      alt: t('tags.add_tag_to_query'),
                      title: t('tags.add_tag_to_query')
                    )
                    %>
              <% end %>
            <% else %>
               <%= image_tag("/images/icons/no_entry.svg",
                    class: "unaddable-tag-icon",
                    "aria-hidden": true)
                %>
            <% end %>
          <%# no tags, but search %>
          <% elsif action_name == 'search' %>
            <%= icon_link("add", bookmarks_search_path(query: params[:query], tags: tag),
                  link_css: "inline-icon-link",
                  icon_css: "add-tag-icon",
                  alt: t('tags.add_tag_to_query'),
                  title: t('tags.add_tag_to_query')
                )
                %>
          <% end %>
          <%= link_to(tag, bookmarks_tagged_with_path(tags: tag)) %>
        </span>
      <% end %>
    </div>
  </div>
</div>
