<div class="container">
  <div class="row">
    <div class="col sidebar-tags">
      <% if defined?(@tags) %>
        <div id="tags-list-heading"><%= t('tags.overlapping_tags') %></div>
      <% end %>
      <% @tags_list.each do |tag| %>
        <span class="sidebar-tag">
            <% tags_query_param= defined?(@tags) ? (@tags + [tag]).join(',') : tag %>
            <% if action_name == 'search' %>
              <%= icon_link("add", bookmarks_search_path(query: params[:query], tags: tags_query_param),
                    link_css: "inline-icon-link",
                    icon_css: "add-tag-icon",
                    alt: t('tags.add_tag_to_query'),
                    title: t('tags.add_tag_to_query')
                  ) if @tags
                  %>
              <%= link_to(tag, bookmarks_search_path(query: params[:query], tags: tag)) %>
            <% elsif action_name == 'unarchived' %>
              <%= icon_link("add", bookmarks_unarchived_path(tags: tags_query_param),
                    link_css: "inline-icon-link",
                    icon_css: "add-tag-icon",
                    alt: t('tags.add_tag_to_query'),
                    title: t('tags.add_tag_to_query')
                  ) if @tags
                  %>
              <%= link_to(tag, bookmarks_unarchived_path(tags: tag)) %>
            <% elsif action_name == 'to_read' %>
              <%= icon_link("add", bookmarks_to_read_path(tags: tags_query_param),
                    link_css: "inline-icon-link",
                    icon_css: "add-tag-icon",
                    alt: t('tags.add_tag_to_query'),
                    title: t('tags.add_tag_to_query')
                  ) if @tags
                  %>
              <%= link_to(tag, bookmarks_to_read_path(tags: tag)) %>
            <% else %>
              <%= icon_link("add", bookmarks_tagged_with_path(tags: tags_query_param),
                    link_css: "inline-icon-link",
                    icon_css: "add-tag-icon",
                    alt: t('tags.add_tag_to_query'),
                    title: t('tags.add_tag_to_query')
                  ) if @tags
                  %>
              <%= link_to(tag, bookmarks_tagged_with_path(tags: tag)) %>
            <% end %>
        </span>
      <% end %>
    </div>
  </div>
</div>
