<div class="container">
  <div class="row">
    <div class="col">
      <ul id="side-nav-items">
        <li><%= link_to t('bookmarks.all_link'), bookmarks_path %>
        <% if current_user %>
          <li><%= link_to t('bookmarks.add'), new_bookmark_path %> </li>
        <% end %>
        <li><%= link_to t('navigation.to_read_link'), bookmarks_to_read_path %></li>
        <li><%= link_to t('navigation.unarchived_link'), bookmarks_unarchived_path %></li>


        <% if current_user %>
          <li><%= button_to t('accounts.links.sign_out'), destroy_user_session_path, method: :delete, class: "btn btn-small btn-primary mx-2 compact-button safe-space" %></li>
        <% elsif @user_count > 0 %>
          <li><%= link_to t('accounts.links.sign_in'), new_user_session_path, class: "nav-link"  %></li>
        <% else %>
          <%# for now we're keeping this a single user app ' %>
          <li><%= link_to t('accounts.links.sign_up'), new_user_registration_path, class: "nav-link"  %></li>
        <% end %>

        <li class="file-ticket">
          <%= icon_link('file_a_ticket',
              "https://github.com/masukomi/backup_brain/issues/new/choose",
              text: t('misc.file_a_ticket'),
              title: t('misc.file_a_ticket_icon_title'),
              alt: t('misc.file_a_ticket_icon_alt'),
              link_css: "inline-link-icon file-a-ticket-link-icon",
              target: '_blank'
              ) %>
        </li>

      </ul>
    </div>
  </div>
</div>
