<div id="<%= dom_id setting %>">
  <p>
    <strong>Lookup key:</strong>
    <%= setting.lookup_key %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= setting.summary %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= setting.description %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= setting.value %>
  </p>

</div>
