<div id="<%= dom_id tag %>">
  <p>
    <strong>Lookup key:</strong>
    <%= tag.lookup_key %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= tag.summary %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tag.description %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= tag.value %>
  </p>

</div>
