<div class="container">
  <div class="row">
    <div class="col"><h3 class='stylized-header'><%= link_to(t('tags.list_heading'), tags_path()) %></h3></div>
  </div>
</div>
<div id="tags" class="container">

  <% if @tags.count > 0 %>
    <div class="row">
      <div class="col">
        <nav class="pagy-bootstrap-nav" role="navigation">
        <ul class="pagination tag-admin-list">
        <% @tags_first_characters.each do | char | %>
          <li class="page-item<% if @starting_with == char %> active<% end %>">
            <%= link_to(char, tags_path(starting_with: char),
                class: "page-link tags-page-link"
                ) %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
      <div class="row">
        <div class="col">
          <ul class="admin-tags-list">
    <% @tags.each do |tag| %>
          <li>
          <%= icon_link("edit", edit_tag_path(tag),
              link_css: "inline-link-icon edit-link-icon",
              method: :put,
              text: nil) %>
            <%= link_to(tag.name, bookmarks_tagged_with_path(tags: tag.name)) %>

          </li>
    <% end %>
          </li>
        </div>
      </div>

  <% else %>
    <div class="row">
      <div class="col">
        <%== t('tags.no_tags_text') %>
      </div>
    </div>
  <% end %>
</div>
